.dishScreenContainer {
  display: flex;
  background-color: rgb(19, 18, 18);
  background-color: aqua;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 26, 26);
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.719);
  margin: 15px;
  width: 280px;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.textContainer {
  height: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
